In [1]:
def euclidean(a,b):
    import numpy as np
    distance = np.sqrt(np.sum((np.array(a)-np.array(b))**2)) # calculating euclidean distance between two variables   
    return(distance)
def knnclassifiertest(x_train,x_test,y_train, k):
    from scipy import stats
    minm=[]
    for i in range(0,x_test.shape[0]):
        dist=[]
        a=x_test.iloc[i:i+1]
        for j in range(0,x_train.shape[0]):
            b=x_train[j:j+1]
            dist.append([euclidean(a,b),j]) # calculating Euclidean distance and storing along with index
        dist.sort() # sorting distance
        minm.append(dist[:k]) # taking first k minimum distance 
    y_pred=[]
    if y_train.dtypes=="object":
        #If Tarhet variable is object
        for i in range(0,x_train.shape[0]):
            for j in range(0,k):
                pred="" # creating empty string to store predicted value k times
                pred=pred+y_train[y_train.index[minm[i][j][1]]]
            y_pred.append(stats.mode(pred)[0][0]) # taking mode of k predicted value
        y_predict["Predicted"]=y_pred#creating new column and storing output value 
    else:
        # If Target variable is continuos 
        for i in range(0,x_train.shape[0]):
            for j in range(0,k):
                pred=0 # creating empty string to store predicted value k times
                pred=pred+y_train[y_train.index[minm[i][j][1]]]
            y_pred.append(pred/k) # taking mean of k predicted value
        y_predict["Predicted"]=y_pred#creating new column and storing output value 
    return(y_predict)

# Example if Target avriable is Object

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("iris.csv")
data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [4]:
data.columns

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [ ]:
iris = data.copy()
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris = iris.dropna().drop('Unnamed: 0', axis = 1)

In [ ]:
y = iris.Species
x = iris[["Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width"]]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.5, random_state = 123, stratify = y)
y_predict=y_test.copy()
y_predict=y_predict.reset_index()

In [ ]:
knnclassifiertest(x_train,x_test,y_train,int(input("Enter Value of k ")))